#root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  textarea {
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    padding: .5rem;
    padding-bottom: 2.5rem;
    resize: none;
    font-size: 1.18rem;

    &:focus-visible {
      border: none;
      outline: none;
    }
  }

  nav {
    position: absolute;
    height: 2.2rem;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    font-size: 1.31rem;

    button,
    a {
      all: unset;
      height: 100%;
      padding: 0 .7rem;
      cursor: pointer;
      display: flex;
      align-items: center;

      &:hover {
        background-color: #999999;
      }

      &:nth-child(3) {
        margin-left: auto;
      }
    }

    input {
      width: 100%;
      background-color: transparent;
      margin: 0 .5rem;
      border: 1px solid #999999;
      text-overflow: ellipsis;
      font-size: inherit;
    }
  }
}
